<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JeeLoginServlet</servlet-name>
        <servlet-class>com.onlinetestseries.JeeLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.onlinetestseries.DatabaseAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.onlinetestseries.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JeeAdvanceLogin</servlet-name>
        <servlet-class>com.onlinetestseries.JeeAdvanceLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BitsatLogin</servlet-name>
        <servlet-class>com.onlinetestseries.BitsatLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JeeMainLogin</servlet-name>
        <servlet-class>com.onlinetestseries.JeeMainLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.onlinetestseries.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.onlinetestseries.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JeeLoginServlet</servlet-name>
        <url-pattern>/JeeLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/DatabaseAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/servlet/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JeeAdvanceLogin</servlet-name>
        <url-pattern>/JeeAdvanceLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BitsatLogin</servlet-name>
        <url-pattern>/BitsatLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JeeMainLogin</servlet-name>
        <url-pattern>/JeeMainLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
